.product-card-list-wrapper {
    display: flex;
}

.product-card-list-wrapper .product-card {
    max-width: 150px;
}


.product-card-list-wrapper .product-card .product-card-image-wrapper {
    background: red;
}